@model WEB_MEDICAL.ViewModels.DepartmentPatientView

@{
    ViewData["Title"] = "DepartmentPatient";
}

<h1>DepartmentPatient</h1>

<div class="form-horizontal">
    <div class="col-md-6">
        <div class="form-group">
            <label  class="control-label"> Department</label>
            <select name="DepartmentId" id="DepartmentId"  class="form-control" asp-items="Model.Departments">
                <option value="">--select department--</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Patient</label>
            <select name="PatientId" id="PatientId" class="form-control">
                <option value="">--select Patient--</option>
            </select>
        </div>

    </div>

    <div id="loadbox" class="col-md-6">
       
    </div>

</div>

@section  Scripts{
    <script>
        $("#DepartmentId").change(function () {
            var departmentId = $("#DepartmentId").val();
            $("#PatientId").empty(); 
            $("#PatientId").append("<option value=''>--select Patient--</option>");
            var json = {
                did:departmentId
            };
            $.ajax({
                type:"POST",
                url: "/Patient/GetPatient",
                data: json,
                success: function (response) {
                    console.log(response);
                    var patient = response;
                    

                    $.each(patient, function (key, patient) {
                        console.log(patient);
                        var option = "<option value='" + patient.id + "'>" + patient.patientName + "</option>";
                        $("#PatientId").append(option);
                    });


                    
                },
                error: function (response) {
                    alert(response.message);
                }
               
            });
        });  //for dep change

        $("#PatientId").change(function () {
            var patientId = $("#PatientId").val();
            var jsonData = { id: patientId };

            console.log("the data is" , jsonData);

            $.ajax({
                type: "POST",
                url: "/Patient/GetPatientPar",
                data: jsonData,
                success: function (response) {
                    $("#loadbox").html(response);
                }
            });
        });

    </script>


}